.container {
  margin: 30px auto;
  width: 350px;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}
h2 {
  padding-bottom: 70px;
  margin: 0;
  text-align: center;
}
h3 {
  border-bottom: 1px solid red;
  color: green;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  text-align: center;
}
h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.accountContainer {
  background-color: rgb(201, 198, 198);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.money.plus {
  color: rgba(255, 0, 200, 0.61);
  font-weight: bold;
}
.money.minus {
  color: #2da3ad;
  font-weight: bold;
}
label {
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
}
input{
display: block;
width: 100%;
font-size: medium;
}
.transactionBtn {
  cursor: pointer;
  background-color: rgb(247, 64, 64);
  box-shadow: var(--box-shadow);
  color: black;
  border: 0;
  display: block;
  border-radius: 30px;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}
.transactionBtn:hover{
  background-color: green;
  color: white;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: rgb(201, 192, 192);
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list li.plus{
  border-right: 5px solid rgb(94, 212, 94);
  border-radius: 10px;
  border-left: 5px solid rgb(94, 212, 94);
}
.list li.plus:hover{
  background-color: green;
  color: #f7f7f7 
}
.list li.minus{
  border-right: 5px solid rgb(124, 71, 71);
  border-radius: 10px;
  border-left: 5px solid rgb(124, 71, 71);
}
.list li.minus:hover {
  background-color:red;
  color: #f7f7f7
}
.delete-btn {
  cursor: pointer;
  background-color: red;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list li:hover .delete-btn {
  opacity: 1;
}